$mainColor: rgb(249,217,70);

.bodyH {
  position: absolute;
  width: 100%;
  height: 400px;
  @include border-style;
  border-radius: 115px;
  background: $mainColor;
  overflow: hidden;
  z-index: 2;
}
